.element.brick {
    background: url("../img/block.png");
    background-size: contain;
}

.element.mushroomspawner {
    background: url("../img/mushroom-spawner.png");
    background-size: contain;
}

.element.mushroomspawner._spawned {
    animation: spawn .3s ease-in-out;
    background: url("../img/mushroom-spawner-spawned.png");
    background-size: contain;
}

.element.mushroom {
    background: black;
}

@keyframes spawn {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0);

    }
}