.element.brick {
    background: url("../img/block.png");
    background-size: contain;
}

.element.mushroomspawner {
    background: url("../img/mushroom-spawner.png");
    background-size: contain;
}

.element.mushroomspawner._spawned {
    animation: spawn .3s ease-in-out;
    background: url("../img/mushroom-spawner-spawned.png");
    background-size: contain;
}

.element.mushroom {
    background: url("../img/mushroom.png");
    background-size: contain;
    animation: mushroom-spawned 1s forwards;
}

@keyframes mushroom-spawned {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.element.enemy {
    animation: enemy-goes .3s infinite;
}

.element.enemy._go-right {
    animation: enemy-goes .3s infinite;
    transform: scaleX(-1);
}

.element.enemy._killed {
    animation: enemy-goes 1s infinite, enemy-kill forwards 1s;
}

@keyframes enemy-kill {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(600%);
    }
}

@keyframes enemy-goes {
    0%, 100% {
        background: url("../img/enemy/enemy-go-1.png") center no-repeat;
        background-size: contain;
    }
    50% {
        background: url("../img/enemy/enemy-go-2.png") center no-repeat;
        background-size: contain;
    }
}

@keyframes spawn {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0);

    }
}